# Override default Atom keymap.
# Use the 'Key Binding Resolver' to see what mappings are currently in place.
'.platform-darwin atom-text-editor':
  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'alt-backspace': 'editor:delete-to-previous-word-boundary'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-"': 'toggle-quotes:toggle'
